# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Regio Opslag
description: >- # this means to ignore newlines until "baseurl:"
  
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://barthaakman.github.io" # the base hostname & protocol for your site, e.g. http://example.com

github_username:  barthaakman
repository: "barthaakman/barthaakman.github.io"
github: [metadata]

# Build settings
markdown: kramdown
plugins:
  # - jekyll-feed
  - jekyll-include-cache

paginate: 5

# Theme config
remote_theme: "mmistakes/minimal-mistakes@4.15.2"
minimal_mistakes_skin: "contrast"

# Includes
include: ['_pages']

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: false
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      # permalink: /:basename/
      layout: single
      author_profile: false
      excerpt: "Opslag in uw regio"
      header:
        overlay_image: /assets/images/headerknip.jpg
        overlay_filter: 0.5
        actions:
          - label: "Medemblik"
            icon: "fas fa-fw fa-boxes"
            url: "/medemblik/"
          - label: "Nibbixwoud"
            icon: "fas fa-fw fa-boxes"
            url: "/nibbixwoud/"
          - label: "Bel nu 06-20675583"
            icon: "fas fa-phone"
            url: "tel:06-20675583"
          - label: "Mail"
            icon: "fas fa-envelope"
            url: "mailto:info@regioopslag"
      # sidebar:
      #   - title: "Telefoon"
      #     text: <a href="tel:06-20675583">06-20675583</a>
      #   - title: "E-mail"
      #     text: <a href="mailto:info@regioopslag">info@regioopslag.nl</a>

footer:
  links:
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook"
      url: "https://www.facebook.com/Regio-Opslag-645715442545262/"

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Collections
collections:
  pages:
    output: true
    permalink: /:path